@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

body{
  background-color:  #045B7E;
  font-family: 'Recursive', sans-serif;
}


.stage{
  margin:150px auto;

}
p{
  text-align: center;
  a{
    text-decoration: none;
    color:rgba(#Fff,0.3);
  }
}

#rotating div {
   position: absolute;
    width: 120px;
    height: 120px;
    color:#045B7E;
    border: 2px solid #ccc;
    background: rgba(#F3F5CA,0.9);
    box-shadow:inset 0 0px 20px rgba(#045B7E,0.7);
    text-align: center;
    line-height: 120px;
    font-size: 40px;
  }

  #rotating{
      animation-name: rotatecube;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 12s;
       transform-style: preserve-3d;
       transform-origin: 60px 60px 0;
      .face1{
         transform: translateZ(60px);
        box-shadow:0 20px 0px rgba(#fff,0.9) !important;
      }
      .face2{
         transform: rotateY(90deg) translateZ(60px);
      }
      .face3{
         transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
        box-shadow:0 20px 0px rgba(#fff,0.9) !important;
      }
      .face4{
         transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
      }
      .face5{
         transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
         box-shadow:0 20px 0px rgba(#fff,0.9) !important;
      }
      .face6{
         transform: rotateX(-90deg) translateZ(60px);
      }

  }

  @keyframes rotatecube {
    from,to  {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
       }
    16%  { 
       transform: rotateY(-90deg);       
     }
    33% { 
       transform: rotateY(-90deg) rotateZ(90deg) ;
    }
    50%{ 
       transform: rotateY(-180deg) rotateZ(90deg);
    }
    66%{
        transform: rotateY(90deg) rotateX(90deg); 
    }
    83%{
        transform: rotateX(90deg);
    }
  }